@tailwind base;
@tailwind components;
@tailwind utilities;

.blue {
  background-image: url("/images/blue.png");
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.animate {
  animation-name: animate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.blue1 {
  background-image: url("/images/blue-1.png");
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 20px;
}

@keyframes animate {
  from {
    transform: translateX(clamp(320px, 75vw, 1300px));
  }
  to {
    transform: translateX(-1300px);
  }
}
